@using TUSO.Domain.Entities
@model TUSO.Domain.Entities.Incident

@{
   ViewData["Title"] = "Incident";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN: Content-->
<div class="app-content content ">
   <div class="content-overlay"></div>
   <div class="header-navbar-shadow"></div>
   <div class="content-wrapper container-xxl p-0">
      <div class="content-header row">
         <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
               <div class="col-12">
                  <div class="breadcrumb-wrapper">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                           <a href="#">Incident</a>
                        </li>
                        <li class="breadcrumb-item active">Request Incident</li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="content-body">
         <!-- Validation -->
         <section class="bs-validation">
            <div class="row">
               <div class="col-12">
                  <div class="row" id="basic-table">
                     <div class="col-12">
                        <div class="card">
                           <div class="card-header">
                              <h4 class="card-title">Incident</h4>
                           </div>
                           <div class="card-body">
                              <div class="table-responsive">
                                 <table class="table datatables-basic">
                                    <thead>
                                       <tr>
                                          <th>Sl</th>
                                          <th>Description</th>
                                          <th>DateReported</th>
                                          <th>DueDate</th>
                                          <th>DateResolved</th>
                                          <th>IncidentStatus</th>
                                          <th>User Name</th>
                                          <th>Action</th>
                                       </tr>
                                    </thead>

                                    <tbody id="incidentDataTble">
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="modal modal-slide-in fade" id="modals-slide-in">
                  <div class="modal-dialog sidebar-sm">
                     <form id="jquery-val-form" method="post" class="add-new-record modal-content pt-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                        <div class="modal-header mb-1">
                           <h5 class="modal-title"> Incident </h5>
                        </div>

                        <div class="modal-body flex-grow-1">
                           <input id="oid" type="hidden" asp-for="OID" />

                           <div class="mb-1">
                              <label class="form-label" asp-for="Title">Title</label>
                              <input asp-for="Title" id="title" type="text" value="" class="form-control" placeholder="Incident Title" autocomplete="off" />
                              <span asp-validation-for="Title" class="text-danger"></span>
                           </div>

                           <div class="mb-1">
                              <label class="form-label" asp-for="Description">Description</label>
                              <input asp-for="Description" id="description" type="text" value="" class="form-control" placeholder="Incident Description" autocomplete="off" />
                              <span asp-validation-for="Description" class="text-danger"></span>
                           </div>

                           <div class="mb-1">
                              <label class="form-label" asp-for="DueDate">DueDate</label>
                              <input asp-for="DueDate" id="dueDate" type="date" value="" class="form-control" placeholder="Incident DueDate" autocomplete="off" />
                              <span asp-validation-for="DueDate" class="text-danger"></span>
                           </div>

                           <div class="mb-1">
                              <label class="form-label" asp-for="DateReported">Date Reported</label>
                              <input asp-for="DateReported" id="dateReported" type="date" value="" class="form-control" placeholder="Incident Date Resolved" autocomplete="off" />
                              <span asp-validation-for="DateReported" class="text-danger"></span>
                           </div>

                           <div class="mb-1">
                              <label class="form-label" asp-for="DateResolved">Date Resolved</label>
                              <input asp-for="DateResolved" id="dateResolved" type="date" value="" class="form-control" placeholder="Incident Date Resolved" autocomplete="off" />
                              <span asp-validation-for="DateResolved" class="text-danger"></span>
                           </div>

                           <div class="mb-1">
                              <label class="form-label" asp-for="IncidentStatus">Incident Status</label>
                              <input asp-for="IncidentStatus" id="incidentStatus" type="text" value="" class="form-control" placeholder="Incident Status" autocomplete="off" />
                              <span asp-validation-for="IncidentStatus" class="text-danger"></span>
                           </div>

                           <div class="mb-1">
                              <label class="form-label" asp-for="IncidentTypeID">Incident Type</label>
                              <input asp-for="IncidentTypeID" id="incidentTypeID" type="text" value="" class="form-control" placeholder="Incident Type Id" autocomplete="off" />
                              <span asp-validation-for="IncidentTypeID" class="text-danger"></span>
                           </div>

                           <div class="mb-1">
                              <label class="form-label">User Name</label>
                              <select asp-for="UserAccountID" class="form-select" id="userAccountId">
                                 <option value="">Select</option>
                              </select>
                              <span asp-validation-for="UserAccountID" class="text-danger"></span>
                           </div>
                           @*<a class="btn btn-primary waves-effect waves-float waves-light mx-2" onclick="addIncident()">Submit</a>*@
                           <button type="button" class="btn btn-primary waves-effect waves-float waves-light mx-2" onclick="addIncident()">Submit</button>
                           @*<button type="submit" class="btn btn-primary data-submit me-1" asp-controller="Incident" asp-action="IncidentList" action="POST">Submit</button>*@
                           <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
</div>